<template>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <small>{{title}}</small>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    <div class="form-group">
                        <div class="range_year"></div>
                        <div class="range_month"></div>
                    </div>
                    <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
 name:"period",
 props:['title']
}
</script>

<style>

</style>
