<template>
    <select v-model="selected"></select>
</template>

<script>
    export default {
        name:'select2',
        props:{
            name:{
                type:String
            },
            extraData:{
                type:Array,
                default: () => []
            },
            disabled:{
                type:Boolean,
                default:false
            },
            theme: {
                type:String,
                default:"bootstrap"
            },
            width:{
                type:String,
                default:'99%'
            },
            tags: {
                type:Array,
                default: () => []
            },
            minimumInputLength: {
                type:Number,
                default:2
            },
            url:{
                type:String,
                required:true
            },
            ajaxType:{
                type:String,
                default:'GET'
            },
            concatIdText:{
                type:Boolean,
                default:false
            },
            multiple:{
                type:Boolean,
                default:false
            }
        },
        data:function(){
            return {
                selected:'',
                options:Object,
                value:''
            }
        },
        methods:{
            createSelect2(){
                var vm = this;

                axios.get(this.url,{extra:Object.assign({},this.extraData)})
                .then(function(response){
                    vm.options = response.data
                })
                .catch(function(error){
                    console.log(error);
                });

                let extra = {};

                $(this.$el).select2({
                    theme: this.theme,
                    width:this.width,
                    disabled: this.disabled,
                    tags: this.tags,
                    minimumInputLength: this.minimumInputLength,
                    ajax: {
                            url: this.url,
                            type:this.ajaxType,
                            data: function (params) {
                                var query = {
                                    search: params.term,
                                    type: 'public',
                                    extra:Object.assign({},this.extraData)
                                }
                                // Query parameters will be ?search=[term]&type=public
                                return query;
                            },
                            processResults: function(data) {
                                return {
                                    results: $.map(data, function(obj) {
                                        if(vm.concatIdText) return { id: obj.id, text: obj.id + "-" + obj.text };
                                        return { id: obj.id, text: obj.text };
                                    })
                                };
                            }
                            }
                        }).val(this.value).trigger('change')
                            // emit event on change.
                            .on('change', function () {
                                vm.$emit('input', this.value)
                                vm.selected = this.value
                                vm.value = this.value
                        });
        
            
            },
            refreshSelect2(){
                this.createSelect2();   
        }
        },
        mounted() {
            this.createSelect2();  
        },
        watch: {
            value: function (value) {
            // update value
            $(this.$el).val(value)
            }
        }
    }
</script>

