<template>
    <div v-if="statu">
        <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close" @click="closeAlert">×</button>
            <span><i class="fa fa-check"></i> İşlem Başarılı!</span>
        </div>
    </div>
</template>

<script>
    export default {
        name:'successalert',
        data:function(){
            return {
                statu:true
            }
        },
        methods:{
            closeAlert(){
                this.statu = false;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>