<template>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
         <span v-if="key=='#'">
            <button v-for="act in actions" type="button" class="btn" @click="submitAction(act,entry['id'])">
                    {{act['text']}}
            </button>
         </span>  
         <span v-else>
          {{entry[key]}}
         </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name:'vue-grid',
  props: {
    columns: Array,
    filterKey: String,
    actions:Array,
    data: Array
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
    })
    return {
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    },
    submitAction:function(act,id){
        HoldOn.open({theme:"sk-bounce"}); 
        let vm = this;
        let url = act.url+id

        if(act.ajaxType=='DELETE'){
            axios.delete(url).then(function(response){
                HoldOn.close(); 
                swal({
                  position: 'top-end',
                  type: 'success',
                  title: 'İşlem Başarılı!',
                  showConfirmButton: false,
                  timer: 1500
                })
            }).catch(function(error){

            })
        }

        this.$emit('refreshGrid');
    }
  }
}
</script>
