<template>
<div class="row">
    <div class="col-sm-12">

            <wizard>
                <form @submit.prevent="onSubmit">
                <w-header title="Tig Dinamik Raporlama"></w-header>
                <w-nav>
                    <w-tab target="donem" icon="ti-time" title="Dönem"></w-tab>
                    <w-tab target="kurum" icon="ti-map-alt" title="Kurum"></w-tab>
                </w-nav>
                <w-content>
                    <w-tab-pane content="donem"><period></period></w-tab-pane>
                    <w-tab-pane content="kurum">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox" data-type="kurum_tur">
                                                <input type="checkbox" name="kurum[]" value="D">
                                                <div class="card card-checkboxes card-hover-effect">
                                                    <i class="ti-check-box"></i>
                                                    <p>Kamu</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox" data-type="kurum_tur">
                                                <input type="checkbox" name="kurum[]" value="O">
                                                <div class="card card-checkboxes card-hover-effect">
                                                    <i class="ti-check-box"></i>
                                                    <p>Özel</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox" data-type="kurum_tur">
                                                <input type="checkbox" name="kurum[]" value="U">
                                                <div class="card card-checkboxes card-hover-effect">
                                                    <i class="ti-check-box"></i>
                                                    <p>Üniversite</p>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2" style="margin-left:227px;">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <div class="choice" data-toggle="wizard-checkbox" style="margin-top:0px !important">
                                                 <div class="card card-checkboxes" @click="toggleSelectDisable" style="padding:0 !important;margin-bottom:0px !important;">
                                                     <i class="ti-check-box" style="font-size:20px !important;line-height:0px !important"></i>
                                                </div>
                                            </div>
                                    </span>
                                    <select2 url="/hastane_listesi" 
                                             name="hastane_kodu" 
                                             v-model="hastane_kodu" 
                                             :concatIdText="concatIdText"
                                             :multiple="selectHospitalMultiple"
                                             :disabled="selectHospitalDisabled"
                                             ref="select2Hospital"></select2> 
                                </div>
                            </div>
                        </div>
                    </w-tab-pane>
                </w-content>
                <w-footer></w-footer>
                </form>
            </wizard>
    </div>
</div>

</template>

<script>
export default {
 name:"dinamik-rapor-form",
 components:['wizard','w-header','w-footer','w-tab','w-nav','w-content','period','select2'],
 data:function(){
     return {
         hastane_kodu:'',
         hospitalExtraData:[],
         selectHospitalDisabled :true,
         selectHospitalMultiple:true,
         concatIdText:true
     }
 },
 methods:{
     toggleSelectDisable(){
         this.selectHospitalDisabled = !this.selectHospitalDisabled
         console.log('Test');
     }
 },
mounted(){
      this.$refs.select2Hospital.refreshSelect2();
 },
 watch:{
     selectHospitalDisabled:function(){
         this.$refs.select2Hospital.refreshSelect2();
     }
 }
} 
</script>

<style>

</style>
