<template>
<div>
    <form @submit.prevent="onSubmit">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Yıl</label>
                                    <select class="form-control" v-model="yil">
                                        <option value="2017" selected>2017</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Hastane</label>
                                   <select2 url="/hastane_listesi" name="hastane_kodu" v-model="hastane_kodu" v-bind:concatIdText="concatSelect2"></select2>    
                            </div>
                        </div>
                        <div class="col-md-4">    
                            <div class="form-group">
                                    <label>Dosya</label>
                                    <input type="file" class="form-control" ref="file" v-on:change="handleFileUpload()">
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:5px;">
                            <div class="form-group pull-right">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-upload fa-2x" aria-hidden="true"></i> Yükle</button>
                                </div>
                             </div>
                        </div>
                    </div>

            </form>

            <div class="clearfix"></div>
            <div class="ln_solid"></div>

            <form id="search" class="pull-right">
               <input name="query" v-model="searchQuery" placeholder="Arama Yapınız..." class="form-control">
            </form>

            <vue-grid :data="gridData" :columns="gridColumns" :filterKey="searchQuery" :class="table" :actions="gridActions" @refreshGrid = "refreshData"/>

</div>

</template>

<script>

export default {
  name:'sut-ek2c-form',
  components:['select2','vue-grid'],
  data:function(){
    return {
          yil:'2017',
          hastane_kodu:'',
          file:'',
          concatSelect2:true,
          searchQuery: '',
          gridColumns: ['hastane_kodu', 'hastane_adi','yil','olusturulma_zamani','guncellenme_zamani','#'],
          gridData: [],
          gridActions:[{text:'Sil',url:'/sut_ek2c_islem_bilgileri/dosya_sil/',ajaxType:'DELETE',dataUrl:'/sut_ek2c_islem_verileri'}]
    }
  },
  methods:{
       handleFileUpload(){
            this.file = this.$refs.file.files[0];
       },
       refreshData(){
           var vm = this;
           axios.get('/sut_ek2c_islem_verileri')
           .then(function(response){
               vm.gridData = response.data;
           })
           .catch(function(error){

           })
       },
       onSubmit(){
          HoldOn.open({theme:"sk-bounce"}); 
          var vm = this; 
          let formData = new FormData();
          formData.append('file', this.file);
          formData.append('hastane_kodu',this.hastane_kodu);
          formData.append('yil',this.yil);

          axios.post('/sut_ek2c_islem_bilgileri/import_data',formData,{headers:{'Content-Type': 'multipart/form-data'}})
          .then(function(response){
             vm.refreshData();
             HoldOn.close(); 
             swal({
                  position: 'top-end',
                  type: 'success',
                  title: 'İşlem Başarılı!',
                  showConfirmButton: false,
                  timer: 1500
                })
          })
          .catch(function(error){
              console.log(error)
          })

      }    
  },
  mounted:function(){
     this.refreshData();
  }
}
</script>

<style>
     form#search{
         margin-bottom: 10px
     }
</style>
