.form-control {
    width: auto;
    visibility: visible;
    border-color: #59e4ea !important;
    color: #666666 !important;
    font-weight: 100 !important;
}


/* Searh Input Style*/

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-height: 40px;
    max-width: 600px;
    margin-top: 5px;
    margin-top: 10px;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    max-height: 30px;
}

#custom-search-input div#srch {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input span#div:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}