<template>
<div class="wizard-footer">
    <div class="pull-right">
        <input type='button' class='btn btn-next btn-fill btn-warning btn-wd' name='next' value='Sonraki' />
        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Tamam' />
    </div>

    <div class="pull-left">
        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Önceki' />
    </div>
    <div class="clearfix"></div>
</div>
</template>

<script>
export default {
 name:"w-footer"
}
</script>

<style>

</style>
