<template>
    <div class="wizard-header text-center">
        <h3 class="wizard-title">{{title}}</h3>
        <p class="category">{{category}}</p>
    </div>               
</template>

<script>
export default {
 name:"w-header",
 props:{
     title:{
         type:String,
         required:true
     },
     category:{
         type:String
     }
 }
}
</script>

<style>

</style>
