<template>
    <div class="wizard-navigation">
        <div class="progress-with-circle">
            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
       </div>
        <ul>
            <slot></slot>
        </ul>
    </div>
</template>

<script>
export default {
name:"w-nav"
}
</script>

<style>

</style>
