<template>
        <li>
            <a :href="'#'+target" data-toggle="tab">
                <div class="icon-circle"><i :class="icon"></i></div>
                {{title}} 
            </a>
        </li>
</template>

<script>
export default {
 name:"w-tab",
 props:{
     title:{
         type:String,
         required:true 
     },
     target:{
         type:String,
         required:true
     },
     icon:{
        type:String
     }
 }

}
</script>

<style>

</style>
