<template>
    <div class="wizard-container">
        <div class="card wizard-card" data-color="azure" id="wizardProfile" >
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
 name:'wizard'
}
</script>

<style scoped>
    .wizard-container{
        padding-top:0 !important
    }
</style>
